<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mymodal" frontName="mymodal">
            <module name="Myproject_Mymodal"/>
        </route>
         <route id="homepro" frontName="homepro">
            <module name="Myproject_Mymodal"/>
        </route>
    </router>
</config>